.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  & > .title {
    margin: 0;
    margin-bottom: 16px;
    align-self: flex-start;
  }

  & > button {
    margin-top: 24px;
  }
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

