@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');



:root {
  --white:                      #FFFFFF;
  --text-color:                 #151317;
  --text-gray-color:            #cccccc;
  --input-text-color:           hsl(84, 2%, 51%);
  --input-placeholder-color:    hsl(84, 2%, 51%, 50%);
  --input-bg-color:             rgba(248, 248, 248, 1);
  --input-hover-color:          rgb(215, 215, 215);
  --input-active-color:         rgb(186, 186, 186);
  --violet-light:               #7a38d1;
  --violet:                     #512689;
  --violet-accent:              #2f1552;
  --error-text-color:           rgb(165, 0, 0);

}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 16x;
  line-height: 22px;
  background-color: var(--white);
}

* {
  font-family: 'Roboto', serif;
  color: var(--text-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
