.button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;

  &:focus-visible,
  &:hover {
    outline: none;
  }
}

.button.register {
  padding: 13px;
  color: var(--white);
  background-color: var(--violet);

  &:focus-visible,
  &:hover {
    background-color: var(--violet-light);
    color: var(--text-gray-color);
  }

  &:active {
    background-color: var(--violet-accent);
  }
}

.button.exit {
  padding: 8px 16px;
  color: var(--text-gray-light-color);
  border: 1px solid var(--text-gray-light-color);
  background-color: transparent;

  &:focus-visible,
  &:hover {
    background-color: var(--violet-light);
    color: var(--text-gray-color);
  }

  &:active {
    background-color: var(--violet-accent);
  }
}

.button.more {
  padding: 9px 16px;
  gap: 8px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: transparent;

  & > svg > path {
    fill: var(--text-color);
    transition: 0.3s;
  }

  &:focus-visible,
  &:hover {
    background-color: var(--violet-light);
    color: var(--text-gray-color);
  }

  &:focus-visible > svg > path,
  &:hover > svg > path {
    fill: var(--text-gray-color);
  }

  &:active {
    background-color: var(--violet-accent);
  }
}

.like {
  width: fit-content;
  transition: 0.3s;

  &>svg {
    // fill:none;
    transition: fill 0.3s ease-in-out;
  }

  &:focus-visible>svg,
  &:hover>svg {
    transform: scale(1.4);
    fill: #b781ff;
  }
}
