.header {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 0 16px;
  background-color: var(--violet);

  & button[name='exitIcon'] {
    display: none;
    position: absolute;
    top: 12px;
    right: 0;
  }

  & button[name='goBackIcon'] {
    display: none;
    position: absolute;
    top: 12px;
    left: 0;
  }

  & button[name='exitButton'] {
    position: absolute;
    top: 32px;
    right: 80px;
    max-width: 81px;
  }

  & button[name='backButton'] {
    position: absolute;
    top: 32px;
    left: 80px;
    max-width: 81px;
  }

  &>div {
    padding: 40px 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & h1 {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    color: var(--white);

    &+p {
      margin: 0;
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
      color: var(--text-gray-light-color);
      max-width: 845px;

    }
  }
}


@media (max-width: 992px) {
  .header {

    & button[name='exitButton'] {
      top: 16px;
      right: 16px;
    }

    & button[name='backButton'] {
      top: 16px;
      left: 16px;
    }

    &>div {
      padding: 40px 0;
    }

    & h1 {

      &+p {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {

    & button[name='exitIcon'] {
      display: block;;
    }

    & button[name='goBackIcon'] {
      display: block;;
    }

    & button[name='exitButton'] {
      display: none;
    }

    & button[name='backButton'] {
      display: none;
    }

    & h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 42px;


      &+p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }
}
