.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  align-self: flex-start;

  & .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &>span {
      font-size: 64px;
      font-weight: 400;
      line-height: 75px;
      color: var(--white);
    }

    & .position {
      font-size: 32px;
      font-weight: 400;
      line-height: 38px;
      color: var(--white);
    }
  }
}


@media (max-width: 992px) {
  .userInfo {
    align-self: center;
  }
}

@media (max-width: 660px) {
  .userInfo {
    padding: 24px 0;
    flex-direction: column;

    & .wrapper {
      align-items: center;
      order: -1;

      &>span {
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;

      }

      & .position {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
      }
    }
  }
}
